
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel ="stylesheet" href="/app.css">
<h1>
	Get 99% Discount
			</h1>
<div class="flex-container">
	

    <div class="container">

				<p class="lead">Enter your email to join <strong><%=data%></strong> other happy customers. tHis is not a csam...I mean Scam...please give us your email! </p>

<form method="POST" action='/register'>
    <input type="text" name = 'email' class="form" placeholder="Enter Your Email">
    <button>Get Discount </button>
</form>


	</div>
</div>
<a href="/joke"><button>dad joke?</button></a>
   
   
   
   
 